[package]
name = "moonshot"
version = "0.1.0"
authors = ["Ashley Ruglys <ashley.ruglys@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.33"
bytemuck = { version = "1.4.1", features = ["derive"] }
env_logger = "0.8.1"
futures = "0.3.7"
image = { version = "0.23.11", default-features = false, features = ["png"] }
legion = "0.3.1"
log = "0.4.11"
ncollide3d = "0.26.1"
obj = "0.10.1"
ultraviolet = { version = "0.7.5", features = ["bytemuck"] }
wgpu = "0.6.0"
winit = "0.23.0"
